In [31]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [32]:
survey_file="/Users/pazilatn/Desktop/github/project-vu/resources/mentalcare_survey_df.csv"
mh_wf_file="/Users/pazilatn/Desktop/github/project-vu/resources/mh_workforce_clean2020.csv"
survey_df=pd.read_csv(survey_file)
mh_wf=pd.read_csv(mh_wf_file)

In [33]:
survey_df.head()

   FAMINCTC_A  RACEALLP_A  MAXEDUC_A  REGION  SEX_A  AGEP_A  MHTHND_A
0      100000           1        8.0       3      1      85         2
1       75000           1        5.0       3      1      39         2
2       90000           2        4.0       3      1      42         2
3       65000           1        8.0       3      1      32         2
4       25762           1        4.0       3      2      85         2

In [34]:
mh_wf.head()

   Rank                 State      #
0   1.0         Massachusetts  180:1
1   2.0                Oregon  210:1
2   3.0  District of Columbia  220:1
3   4.0                 Maine  220:1
4   5.0               Vermont  230:1

In [38]:
newdata=mh_wf["#"].str.split(":",expand = True)
mh_wf["ratio_a"]=newdata[0]
mh_wf["ratio_b"]=newdata[1]
mh_wf["ratio_a"]=mh_wf["ratio_a"].astype(float)
mh_wf["ratio_b"]=mh_wf["ratio_b"].astype(float)

In [41]:
mh_wf["Work_f_ratio"]=mh_wf["ratio_b"]/(mh_wf["ratio_a"]+mh_wf["ratio_b"])

In [42]:
mh_wf.head()

   Rank                 State      #  ratio_a  ratio_b  Work_f_ratio
0   1.0         Massachusetts  180:1    180.0      1.0      0.005525
1   2.0                Oregon  210:1    210.0      1.0      0.004739
2   3.0  District of Columbia  220:1    220.0      1.0      0.004525
3   4.0                 Maine  220:1    220.0      1.0      0.004525
4   5.0               Vermont  230:1    230.0      1.0      0.004329