In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_disability_nodoc2020.csv", output_format="csv", pages='37', stream = True)

In [4]:
no_doc_df = pd.read_csv(r"uncleaned_csv\adult_disability_nodoc2020.csv")
no_doc_df

,Rank,State,%,#,Rank.1,State.1,%.1,#.1
0,1,Iowa,16.87,"37,908",27.0,Idaho,28.49,"33,213"
1,2,Vermont,18.63,"9,188",28.0,Indiana,28.78,"167,315"
2,3,Massachusetts,20.44,"110,799",29.0,Illinois,29.06,"237,367"
3,4,Alaska,20.69,"9,859",30.0,Maine,29.34,"32,555"
4,5,Rhode Island,20.70,"20,592",31.0,Arizona,29.84,"170,006"
5,6,Hawaii,20.86,"19,358",32.0,Kansas,29.99,"65,857"
6,7,Ohio,22.23,"239,773",33.0,South Dakota,30.13,"18,219"
7,8,New York,22.35,"315,572",34.0,Nevada,30.76,"77,939"
8,9,California,22.47,"647,176",35.0,South Carolina,30.79,"147,202"
9,10,Pennsylvania,22.97,"254,064",36.0,Utah,31.19,"70,771"
10,11,Connecticut,23.06,"51,647",37.0,Arkansas,31.42,"107,117"
11,12,New Hampshire,23.99,"23,315",38.0,New Mexico,31.51,"61,938"
12,13,Minnesota,24.81,"98,572",39.0,Missouri,32.21,"195,362"
13,14,Montana,25.10,"22,931",40.0,Tennessee,33.23,"239,969"
14,15,Delaware,25.40,"24,687",41.0,Alabama,33.24,"191,499"
15,16,Maryland,25.74,"100,730",42.0,North Carolina,33.36,"290,888"
16,17,District of Columbia,25.88,"14,059",43.0,Florida,33.37,"684,912"
17,18,Nebraska,26.66,"33,510",44.0,Mississippi,33.97,"113,045"
18,19,Kentucky,26.77,"145,055",45.0,Wyoming,34.35,"15,974"
19,20,Wisconsin,26.98,"112,237",46.0,Oklahoma,34.43,"150,379"
20,21,Washington,27.19,"158,208",47.0,Virginia,34.48,"213,282"
21,22,Michigan,27.29,"280,450",48.0,New Jersey,35.07,"245,583"
22,23,West Virginia,27.54,"74,517",49.0,Georgia,36.06,"322,610"
23,24,North Dakota,27.67,"12,131",50.0,Louisiana,38.23,"201,908"
24,25,Colorado,27.72,"102,075",51.0,Texas,41.03,"983,751"
25,26,Oregon,28.37,"103,596",NaN,National,29.40,"8,181,777"

In [5]:
# Extract second half of ami_df to make second df to be joined back in
no_doc_df_2 = no_doc_df[["Rank.1", "State.1", "%.1", "#.1"]]
no_doc_df_2 = no_doc_df_2.rename(columns={'Rank.1' : "Rank", "State.1" : "State", "%.1" : "%", "#.1": "#"})
no_doc_df_2

    Rank           State      %          #
0   27.0           Idaho  28.49     33,213
1   28.0         Indiana  28.78    167,315
2   29.0        Illinois  29.06    237,367
3   30.0           Maine  29.34     32,555
4   31.0         Arizona  29.84    170,006
5   32.0          Kansas  29.99     65,857
6   33.0    South Dakota  30.13     18,219
7   34.0          Nevada  30.76     77,939
8   35.0  South Carolina  30.79    147,202
9   36.0            Utah  31.19     70,771
10  37.0        Arkansas  31.42    107,117
11  38.0      New Mexico  31.51     61,938
12  39.0        Missouri  32.21    195,362
13  40.0       Tennessee  33.23    239,969
14  41.0         Alabama  33.24    191,499
15  42.0  North Carolina  33.36    290,888
16  43.0         Florida  33.37    684,912
17  44.0     Mississippi  33.97    113,045
18  45.0         Wyoming  34.35     15,974
19  46.0        Oklahoma  34.43    150,379
20  47.0        Virginia  34.48    213,282
21  48.0      New Jersey  35.07    245,583
22  49.0         Georgia  36.06    322,610
23  50.0       Louisiana  38.23    201,908
24  51.0           Texas  41.03    983,751
25   NaN        National  29.40  8,181,777

In [6]:
no_doc_df = no_doc_df.drop(columns={"Rank.1", "State.1", "%.1", "#.1"})

In [7]:
# Merge both dfs together, making final df
no_doc_df = no_doc_df.append(no_doc_df_2)

In [9]:
no_doc_df.to_csv(r'resources\no_doc_adult2020_clean.csv', sep=',', index=False)