In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_unmet_needs2020.csv", output_format="csv", pages='35', stream = True)

In [3]:
adult_unmet_df = pd.read_csv(r"uncleaned_csv\adult_unmet_needs2020.csv")
adult_unmet_df

,Rank,State,%,#,Rank.1,State.1,%.1,#.1
0,1,Alabama,14.3,"106,000",27.0,Colorado,22.2,"186,000"
1,2,Hawaii,14.7,"25,000",28.0,Massachusetts,22.3,"262,000"
2,3,Iowa,18.2,"82,000",29.0,Oklahoma,22.4,"129,000"
3,4,Texas,19.2,"620,000",30.0,Georgia,22.5,"309,000"
4,5,Wyoming,19.2,"17,000",31.0,Maryland,22.6,"180,000"
5,6,Minnesota,19.4,"141,000",32.0,Nebraska,22.6,"54,000"
6,7,Maine,19.7,"39,000",33.0,Connecticut,22.9,"113,000"
7,8,New York,20.1,"536,000",34.0,Kentucky,22.9,"178,000"
8,9,Louisiana,20.2,"133,000",35.0,New Jersey,22.9,"254,000"
9,10,Ohio,20.4,"363,000",36.0,Montana,23.3,"36,000"
10,11,West Virginia,20.4,"70,000",37.0,New Mexico,23.8,"65,000"
11,12,Vermont,20.7,"21,000",38.0,Rhode Island,24.3,"39,000"
12,13,North Dakota,21.2,"21,000",39.0,District of Columbia,24.5,"30,000"
13,14,Arizona,21.3,"189,000",40.0,Washington,24.5,"327,000"
14,15,Idaho,21.7,"72,000",41.0,Pennsylvania,24.7,"435,000"
15,16,South Dakota,21.7,"24,000",42.0,South Carolina,24.8,"173,000"
16,17,Delaware,21.8,"29,000",43.0,Arkansas,25.0,"119,000"
17,18,Illinois,21.8,"331,000",44.0,Missouri,25.0,"238,000"
18,19,North Carolina,21.8,"302,000",45.0,Indiana,25.2,"272,000"
19,20,California,21.9,"1,196,000",46.0,Kansas,25.9,"109,000"
20,21,Mississippi,21.9,"92,000",47.0,Virginia,28.3,"337,000"
21,22,Alaska,22.0,"23,000",48.0,Oregon,28.5,"224,000"
22,23,Florida,22.0,"632,000",49.0,Nevada,28.6,"121,000"
23,24,Michigan,22.0,"307,000",50.0,New Hampshire,28.8,"57,000"
24,25,Tennessee,22.0,"208,000",51.0,Utah,31.2,"163,000"
25,26,Wisconsin,22.0,"178,000",NaN,National,22.3,"10,168,000"

In [4]:
# Extract second half of ami_df to make second df to be joined back in
adult_unmet_df_2 = adult_unmet_df[["Rank.1", "State.1", "%.1", "#.1"]]
adult_unmet_df_2 = adult_unmet_df_2.rename(columns={'Rank.1' : "Rank", "State.1" : "State", "%.1" : "%", "#.1": "#"})
adult_unmet_df_2

    Rank                 State     %           #
0   27.0              Colorado  22.2     186,000
1   28.0         Massachusetts  22.3     262,000
2   29.0              Oklahoma  22.4     129,000
3   30.0               Georgia  22.5     309,000
4   31.0              Maryland  22.6     180,000
5   32.0              Nebraska  22.6      54,000
6   33.0           Connecticut  22.9     113,000
7   34.0              Kentucky  22.9     178,000
8   35.0            New Jersey  22.9     254,000
9   36.0               Montana  23.3      36,000
10  37.0            New Mexico  23.8      65,000
11  38.0          Rhode Island  24.3      39,000
12  39.0  District of Columbia  24.5      30,000
13  40.0            Washington  24.5     327,000
14  41.0          Pennsylvania  24.7     435,000
15  42.0        South Carolina  24.8     173,000
16  43.0              Arkansas  25.0     119,000
17  44.0              Missouri  25.0     238,000
18  45.0               Indiana  25.2     272,000
19  46.0                Kansas  25.9     109,000
20  47.0              Virginia  28.3     337,000
21  48.0                Oregon  28.5     224,000
22  49.0                Nevada  28.6     121,000
23  50.0         New Hampshire  28.8      57,000
24  51.0                  Utah  31.2     163,000
25   NaN              National  22.3  10,168,000

In [5]:
adult_unmet_df = adult_unmet_df.drop(columns={"Rank.1", "State.1", "%.1", "#.1"})

In [6]:
adult_unmet_df = adult_unmet_df.append(adult_unmet_df_2)

In [7]:
adult_unmet_df = adult_unmet_df.dropna(how='all')

In [9]:
adult_unmet_df.to_csv(r'resources\adult_unmet_needs_clean_2020.csv', sep=',', index=False)