In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_uninsured2020.csv", output_format="csv", pages='36', stream = True)

In [3]:
uninsured_adult_df = pd.read_csv(r"uncleaned_csv\adult_uninsured2020.csv")
uninsured_adult_df

,Adults with AMI who are Uninsured Rank,State,Rate,#
0,1,Massachusetts,2.7,"32,000"
1,2,Iowa,3.3,"15,000"
2,3,District of Columbia,3.8,"5,000"
3,4,New York,4.0,"107,000"
4,5,Connecticut,5.1,"26,000"
...,...,...,...,...
63,The rankings for this indicator used data from...,Georgia,20.3,"278,000"
64,50,Texas,21.4,"694,000"
65,"NSDUH. Some states, such as Arkansas, that ha...",Wyoming,22.9,"20,000"
66,uninsured adults with AMI passed Medicaid work...,NaN,NaN,NaN
67,NaN,National,10.3,"4,720,000"

In [4]:
uninsured_adult_df = uninsured_adult_df[pd.to_numeric(uninsured_adult_df['Adults with AMI who are Uninsured Rank'], errors='coerce').notnull()]

In [5]:
uninsured_adult_df = uninsured_adult_df.rename(columns={'Adults with AMI who are Uninsured Rank' : 'Rank'})

In [6]:
uninsured_adult_df

   Rank                 State  Rate        #
0     1         Massachusetts   2.7   32,000
1     2                  Iowa   3.3   15,000
2     3  District of Columbia   3.8    5,000
3     4              New York   4.0  107,000
4     5           Connecticut   5.1   26,000
5     6               Vermont   6.0    6,000
6     7              Maryland   6.1   49,000
7     8             Minnesota   6.1   44,000
9     9              Michigan   6.2   86,000
10   10              Colorado   6.4   54,000
12   11             Wisconsin   6.4   52,000
13   12          Rhode Island   6.8   11,000
14   13         West Virginia   6.8   23,000
15   14                  Ohio   6.9  123,000
16   15               Arizona   7.1   63,000
17   16         New Hampshire   7.1   14,000
19   18              Kentucky   7.2   56,000
20   19            New Jersey   7.2   80,000
22   20              Delaware   7.3   10,000
23   21          Pennsylvania   7.5  133,000
24   22            California   7.7  422,000
31   27              Illinois   9.2  141,000
32   28               Indiana   9.5  102,000
35   30              Nebraska  10.2   24,000
37   31                Alaska  10.3   11,000
38   32          North Dakota  10.3   10,000
40   33        North Carolina  10.8  151,000
42   34                Nevada  10.9   48,000
44   36          South Dakota  11.5   12,000
46   37              Virginia  12.4  147,000
50   40                 Maine  14.1   28,000
52   41              Oklahoma  14.1   81,000
53   42                Kansas  14.6   61,000
55   43             Louisiana  14.7   97,000
57   44                 Idaho  15.2   51,000
61   48           Mississippi  18.3   77,000
64   50                 Texas  21.4  694,000

In [7]:
uninsured_adult_df.to_csv(r'resources\adult_uninsured2020.csv', sep=',', index=False)