In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_uninsured2020.csv", output_format="csv", pages='36', stream = True)

In [3]:
# Read csv
uninsured_adult_df = pd.read_csv(r"uncleaned_csv\adult_uninsured2020.csv")
uninsured_adult_df

,Adults with AMI who are Uninsured Rank,State,Rate,#
0,1,Massachusetts,2.7,"32,000"
1,2,Iowa,3.3,"15,000"
2,3,District of Columbia,3.8,"5,000"
3,4,New York,4.0,"107,000"
4,5,Connecticut,5.1,"26,000"
...,...,...,...,...
63,The rankings for this indicator used data from...,Georgia,20.3,"278,000"
64,50,Texas,21.4,"694,000"
65,"NSDUH. Some states, such as Arkansas, that ha...",Wyoming,22.9,"20,000"
66,uninsured adults with AMI passed Medicaid work...,NaN,NaN,NaN
67,NaN,National,10.3,"4,720,000"

In [4]:
uninsured_adult_df = uninsured_adult_df[pd.to_numeric(uninsured_adult_df['Adults with AMI who are Uninsured Rank'], errors='coerce').notnull()]

In [5]:
uninsured_adult_df = uninsured_adult_df.rename(columns={'Adults with AMI who are Uninsured Rank' : 'Rank'})

In [6]:
# change dtype of # column
uninsured_adult_df['#'] = uninsured_adult_df['#'].str.replace(',', '').astype(float)

In [7]:
uninsured_adult_df = uninsured_adult_df.add_suffix('_adult_uninsured_2020')

In [8]:
uninsured_adult_df = uninsured_adult_df.rename(columns={'State_adult_uninsured_2020' : 'State'})

In [9]:
uninsured_adult_df.to_csv(r'resources\adult_uninsured2020.csv', sep=',', index=False)