In [9]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [10]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_access2020.csv", output_format="csv", pages='34', stream = True)

In [11]:
# Read in csv
adult_access_df = pd.read_csv(r"uncleaned_csv\adult_access2020.csv")
adult_access_df
adult_access_df = adult_access_df.dropna(how='all')

In [12]:
# Extract second half of ami_df to make second df to be joined back in
adult_access_df_2 = adult_access_df[["Rank", "State", "%.1", "#.1"]]
adult_access_df_2 = adult_access_df_2.rename(columns={"%.1" : "%", "#.1": "#"})
adult_access_df_2

    Rank                 State     %           #
0   27.0  District of Columbia  55.4      68,000
2   28.0          North Dakota  55.6      54,000
3   29.0          South Dakota  55.6      61,000
4   30.0           Connecticut  55.7     277,000
5   31.0              Illinois  55.7     847,000
6   32.0              Maryland  55.9     446,000
8   33.0                Kansas  56.8     238,000
9   34.0                 Idaho  57.1     188,000
10  35.0        South Carolina  57.4     397,000
11  36.0               Montana  58.3      92,000
12  37.0               Florida  59.3   1,705,000
14  38.0              New York  59.7   1,590,000
15  39.0              Oklahoma  59.7     344,000
16  40.0            New Jersey  59.9     663,000
17  41.0                Oregon  60.2     475,000
18  42.0               Georgia  60.9         NaN
19  43.0               Arizona  61.3     543,000
20  44.0                 Texas  61.7   1,991,000
21  45.0             Louisiana  62.2     409,000
22  46.0                Alaska  62.4      66,000
23  47.0                Nevada  63.9     270,000
24  48.0               Alabama  64.3     474,000
25  49.0               Wyoming  64.3      57,000
26  50.0                Hawaii  64.6     111,000
27  51.0            California  64.8   3,533,000
28   NaN              National  57.2  26,017,000

In [13]:
adult_access_df = adult_access_df.drop(columns={"Rank", "State", "%.1", "#.1"})

In [14]:
adult_access_df['Rank'], adult_access_df['State'] = adult_access_df['Rank State'].str.split(' ', 1).str

adult_access_df.drop(columns='Rank State')

C:\Users\noaht\AppData\Local\Temp/ipykernel_4620/2023966433.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  adult_access_df['Rank'], adult_access_df['State'] = adult_access_df['Rank State'].str.split(' ', 1).str

       %        #     Rank           State
0   40.7   42,000        1         Vermont
2   44.6   89,000        2   New Hampshire
3   45.7   73,000        3    Rhode Island
4   47.3  214,000        4            Iowa
5   47.5   64,000        5        Delaware
6   48.7  407,000        6        Colorado
8   49.5  360,000        7       Minnesota
9   49.6   99,000        8           Maine
10  50.9  485,000        9        Missouri
11  51.1  713,000       10        Michigan
12  51.4  485,000       11       Tennessee
14  51.4  269,000       12            Utah
15  51.4  177,000       13   West Virginia
16  52.0  603,000       14   Massachusetts
17  52.5  251,000       15        Arkansas
18  52.7  126,000  829,000     16 Nebraska
19  52.9  427,000       17       Wisconsin
20  53.1  707,000       18      Washington
21  53.8  577,000       19         Indiana
22  54.0  958,000       20            Ohio
23  54.3  960,000       21    Pennsylvania
24  54.4  148,000       22      New Mexico
25  54.6  754,000       23  North Carolina
26  54.8  230,000       24     Mississippi
27  54.8  651,000       25        Virginia
28  55.0  425,000       26        Kentucky

In [15]:
adult_access_df = adult_access_df[['Rank', 'State', '%', '#']]
adult_access_df = adult_access_df.append(adult_access_df_2)

In [16]:
adult_access_df = adult_access_df.reset_index(drop=True)

In [17]:
adult_access_df

       Rank                 State     %           #
0         1               Vermont  40.7      42,000
1         2         New Hampshire  44.6      89,000
2         3          Rhode Island  45.7      73,000
3         4                  Iowa  47.3     214,000
4         5              Delaware  47.5      64,000
5         6              Colorado  48.7     407,000
6         7             Minnesota  49.5     360,000
7         8                 Maine  49.6      99,000
8         9              Missouri  50.9     485,000
9        10              Michigan  51.1     713,000
10       11             Tennessee  51.4     485,000
11       12                  Utah  51.4     269,000
12       13         West Virginia  51.4     177,000
13       14         Massachusetts  52.0     603,000
14       15              Arkansas  52.5     251,000
15  829,000           16 Nebraska  52.7     126,000
16       17             Wisconsin  52.9     427,000
17       18            Washington  53.1     707,000
18       19               Indiana  53.8     577,000
19       20                  Ohio  54.0     958,000
20       21          Pennsylvania  54.3     960,000
21       22            New Mexico  54.4     148,000
22       23        North Carolina  54.6     754,000
23       24           Mississippi  54.8     230,000
24       25              Virginia  54.8     651,000
25       26              Kentucky  55.0     425,000
26     27.0  District of Columbia  55.4      68,000
27     28.0          North Dakota  55.6      54,000
28     29.0          South Dakota  55.6      61,000
29     30.0           Connecticut  55.7     277,000
30     31.0              Illinois  55.7     847,000
31     32.0              Maryland  55.9     446,000
32     33.0                Kansas  56.8     238,000
33     34.0                 Idaho  57.1     188,000
34     35.0        South Carolina  57.4     397,000
35     36.0               Montana  58.3      92,000
36     37.0               Florida  59.3   1,705,000
37     38.0              New York  59.7   1,590,000
38     39.0              Oklahoma  59.7     344,000
39     40.0            New Jersey  59.9     663,000
40     41.0                Oregon  60.2     475,000
41     42.0               Georgia  60.9         NaN
42     43.0               Arizona  61.3     543,000
43     44.0                 Texas  61.7   1,991,000
44     45.0             Louisiana  62.2     409,000
45     46.0                Alaska  62.4      66,000
46     47.0                Nevada  63.9     270,000
47     48.0               Alabama  64.3     474,000
48     49.0               Wyoming  64.3      57,000
49     50.0                Hawaii  64.6     111,000
50     51.0            California  64.8   3,533,000
51      NaN              National  57.2  26,017,000

In [18]:
adult_access_df.loc[15, "Rank"]=16
adult_access_df.loc[15, "State"]='Nebraska'
adult_access_df.loc[41, "#"]=829000

In [21]:
adult_access_df = adult_access_df.add_suffix('_adult_care_access_2020')

In [22]:
adult_access_df.to_csv(r'resources\adult_access2020.csv')