In [1]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [2]:
tabula.convert_into(r"resources\2020_data.pdf", r"uncleaned_csv\adult_suicide2020.csv", output_format="csv", pages='30', stream = True)

In [3]:
# Read in csv
adult_suicide_df = pd.read_csv(r"uncleaned_csv\adult_suicide2020.csv")
adult_suicide_df

,Rank,State,%,#,Rank.1,State.1,%.1,#.1
0,1,New Jersey,3.41,"235,000",27.0,South Dakota,4.40,"28,000"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Florida,3.49,"569,000",28.0,Tennessee,4.50,"228,000"
3,3,New York,3.68,"568,000",29.0,Minnesota,4.52,"190,000"
4,4,Texas,3.72,"754,000",30.0,Ohio,4.56,"404,000"
5,5,Illinois,3.87,"376,000",31.0,North Dakota,4.57,"26,000"
6,6,Alabama,3.89,"144,000",32.0,North Carolina,4.57,"352,000"
7,7,Michigan,3.99,"306,000",33.0,Massachusetts,4.57,"247,000"
8,8,Maine,3.99,"43,000",34.0,Arkansas,4.59,"103,000"
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9,Maryland,4.00,"184,000",35.0,Wisconsin,4.60,"204,000"
11,10,Mississippi,4.01,"88,000",36.0,Nevada,4.62,"104,000"
12,11,New Mexico,4.01,"63,000",37.0,Iowa,4.69,"111,000"
13,12,Arizona,4.02,"211,000",38.0,Kentucky,4.71,"158,000"
14,13,Missouri,4.04,"186,000",39.0,West Virginia,4.75,"68,000"
15,14,California,4.04,"1,205,000",40.0,Rhode Island,4.78,"40,000"
16,15,Nebraska,4.05,"57,000",41.0,Kansas,4.87,"104,000"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,16,Connecticut,4.05,"113,000",42.0,New Hampshire,4.89,"52,000"
19,17,Hawaii,4.08,"43,000",43.0,Montana,4.91,"39,000"
20,18,Oklahoma,4.10,"118,000",44.0,Indiana,5.04,"251,000"
21,19,District of Columbia,4.11,"23,000",45.0,Washington,5.06,"283,000"
22,20,South Carolina,4.11,"156,000",46.0,Oregon,5.18,"166,000"
23,21,Delaware,4.16,"31,000",47.0,Vermont,5.31,"27,000"
24,22,Virginia,4.20,"268,000",48.0,Alaska,5.34,"28,000"
25,23,Louisiana,4.25,"147,000",49.0,Colorado,5.41,"229,000"
26,24,Pennsylvania,4.28,"426,000",50.0,Idaho,5.60,"70,000"
27,25,Georgia,4.38,"336,000",51.0,Utah,5.99,"128,000"
28,26,Wyoming,4.39,"19,000",NaN,National,4.19,"10,308,000"
29,The percentage of adults,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,reporting serious thoughts of,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,suicide is 4.19 percent. The,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,estimated number of adults with,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,serious suicidal thoughts is over,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Extract second half of ami_df to make second df to be joined back in
adult_suicide_2 = adult_suicide_df[["Rank.1", "State.1", "%.1", "#.1"]]
adult_suicide_2 = adult_suicide_2.rename(columns={'Rank.1' : "Rank", "State.1" : "State", "%.1" : "%", "#.1": "#"})
adult_suicide_2

    Rank           State     %           #
0   27.0    South Dakota  4.40      28,000
1    NaN             NaN   NaN         NaN
2   28.0       Tennessee  4.50     228,000
3   29.0       Minnesota  4.52     190,000
4   30.0            Ohio  4.56     404,000
5   31.0    North Dakota  4.57      26,000
6   32.0  North Carolina  4.57     352,000
7   33.0   Massachusetts  4.57     247,000
8   34.0        Arkansas  4.59     103,000
9    NaN             NaN   NaN         NaN
10  35.0       Wisconsin  4.60     204,000
11  36.0          Nevada  4.62     104,000
12  37.0            Iowa  4.69     111,000
13  38.0        Kentucky  4.71     158,000
14  39.0   West Virginia  4.75      68,000
15  40.0    Rhode Island  4.78      40,000
16  41.0          Kansas  4.87     104,000
17   NaN             NaN   NaN         NaN
18  42.0   New Hampshire  4.89      52,000
19  43.0         Montana  4.91      39,000
20  44.0         Indiana  5.04     251,000
21  45.0      Washington  5.06     283,000
22  46.0          Oregon  5.18     166,000
23  47.0         Vermont  5.31      27,000
24  48.0          Alaska  5.34      28,000
25  49.0        Colorado  5.41     229,000
26  50.0           Idaho  5.60      70,000
27  51.0            Utah  5.99     128,000
28   NaN        National  4.19  10,308,000
29   NaN             NaN   NaN         NaN
30   NaN             NaN   NaN         NaN
31   NaN             NaN   NaN         NaN
32   NaN             NaN   NaN         NaN
33   NaN             NaN   NaN         NaN

In [5]:
# Drop columns that have been extracted
adult_suicide_df = adult_suicide_df.drop(columns={"Rank.1", "State.1", "%.1", "#.1"})

In [6]:
adult_suicide_df = adult_suicide_df.drop(adult_suicide_df.index[[29,30,31,32,33]])

In [7]:
# Merge both dfs together, making final df
adult_suicide_df = adult_suicide_df.append(adult_suicide_2)

In [8]:
adult_suicide_df = adult_suicide_df.dropna(how='all')

In [9]:
adult_suicide_df = adult_suicide_df.reset_index(drop="True")

In [10]:
adult_suicide_df = adult_suicide_df.add_suffix('_adult_suicide_2020')

In [11]:
adult_suicide_df.to_csv(r'resources\adult_suicide_clean2020.csv', sep=',', index=False)