In [77]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [78]:
tabula.convert_into(r"resources\2020_data.pdf", "uncleaned_csv\children_noMH_coverage2020.csv", output_format="csv", pages='40', stream = True)

In [79]:
children_df = pd.read_csv("uncleaned_csv\children_noMH_coverage2020.csv")
children_df

,Children with Private Insurance that Rank,State,%,#
0,Did Not Cover Mental or Emotional Problems 1,New Hampshire,2.0,"1,000"
1,2,Massachusetts,3.6,"10,000"
2,3,Vermont,4.0,"1,000"
3,4,District of Columbia,4.1,0
4,5,Michigan,4.3,"18,000"
...,...,...,...,...
58,49,Nevada,16.0,"16,000"
59,To improve the worsening mental health of chil...,NaN,NaN,NaN
60,50,Louisiana,16.5,"22,000"
61,"adolescents in the U.S., insurance companies m...",Mississippi,18.1,"12,000"
62,parity in coverage.,National,8.1,"944,000"

In [80]:
children_df = children_df.iloc[: , 1:]

In [81]:
children_df = children_df.dropna(how='all')

In [82]:
children_df = children_df.reset_index( drop=True)

In [83]:
rank = [i for i in range(1,53)]

In [84]:
children_df['rank'] = rank

In [85]:
children_df.head()

                  State    %       #  rank
0         New Hampshire  2.0   1,000     1
1         Massachusetts  3.6  10,000     2
2               Vermont  4.0   1,000     3
3  District of Columbia  4.1       0     4
4              Michigan  4.3  18,000     5

In [86]:
children_df = children_df[['rank', 'State', '%', '#']]

In [87]:
children_df.to_csv(r'resources\children_no_mh_clean2020.csv', sep=',', index=False)