In [16]:
import pandas as pd
# To install, pip install tabula-py in your env
import tabula

In [19]:
tabula.convert_into("file.pdf", "output.csv", output_format="csv", pages='28', stream = True)

In [20]:
ami_df = pd.read_csv("output.csv")
ami_df

,Rank,State,%,#,Rank.1,State.1,%.1,#.1
0,1.0,New Jersey,16.19,"1,115,000",27.0,Mississippi,19.04,"420,000"
1,2.0,Hawaii,16.27,"173,000",28.0,Louisiana,19.11,"663,000"
2,3.0,Texas,16.32,"3,309,000",29.0,New Hampshire,19.15,"203,000"
3,4.0,Illinois,16.76,"1,627,000",30.0,Tennessee,19.24,"977,000"
4,5.0,Maryland,16.94,"778,000",31.0,Rhode Island,19.59,"164,000"
5,6.0,Florida,17.54,"2,861,000",32.0,Kansas,19.71,"421,000"
6,7.0,New York,17.61,"2,713,000",33.0,Montana,19.78,"159,000"
7,8.0,South Dakota,17.70,"113,000",34.0,Vermont,19.84,"99,000"
8,9.0,New Mexico,17.73,"276,000",35.0,Ohio,19.85,"1,759,000"
9,10.0,Nebraska,17.88,"252,000",36.0,Colorado,19.86,"838,000"
10,11.0,Pennsylvania,17.98,"1,786,000",37.0,Alabama,19.95,"737,000"
11,12.0,North Carolina,18.02,"1,387,000",38.0,Oklahoma,20.02,"578,000"
12,13.0,Arizona,18.02,"944,000",39.0,Missouri,20.05,"925,000"
13,14.0,Georgia,18.07,"1,385,000",40.0,Wyoming,20.25,"88,000"
14,15.0,California,18.18,"5,419,000",41.0,Alaska,20.32,"107,000"
15,16.0,Connecticut,18.18,"506,000",42.0,Massachusetts,20.57,"1,109,000"
16,17.0,Minnesota,18.21,"765,000",43.0,Arkansas,20.73,"464,000"
17,18.0,North Dakota,18.30,"103,000",44.0,Indiana,20.90,"1,041,000"
18,19.0,Michigan,18.34,"1,405,000",45.0,District of Columbia,21.17,"117,000"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,Wisconsin,18.54,"822,000",46.0,Kentucky,22.29,"747,000"
21,21.0,South Carolina,18.56,"704,000",47.0,Washington,22.81,"1,277,000"
22,22.0,Delaware,18.65,"138,000",48.0,West Virginia,22.89,"326,000"
23,23.0,Virginia,18.78,"1,195,000",49.0,Utah,23.47,"500,000"
24,24.0,Nevada,18.87,"424,000",50.0,Oregon,23.59,"757,000"
25,25.0,Maine,19.01,"203,000",51.0,Idaho,25.03,"310,000"
26,26.0,Iowa,19.02,"450,000",NaN,National,18.57,"45,641,000"