In [55]:
import pandas as pd

In [56]:
file_unemploy="/Users/pazilatn/Desktop/github/project-vu/resources/unemployment19_20.csv"
file_state="/Users/pazilatn/Desktop/github/project-vu/resources/statedict.csv"

df=pd.read_csv(file_unemploy,header=0)
state=pd.read_csv(file_state, )

In [57]:
state.columns=["Series_ID","state"]

In [58]:
state.loc[state["Series_ID"].isnull()]

   Series_ID state
51       NaN     0

In [59]:
state=state.dropna()
state.head()

              Series_ID       state
0  LASST020000000000003      Alaska
1  LASST040000000000003     Arizona
2  LASST050000000000003    Arkansas
3  LASST060000000000003  California
4  LASST080000000000003    Colorado

In [60]:
state_dict=pd.Series(state.state.values,index=state.Series_ID).to_dict()

In [61]:
state_dict["LASST010000000000003"]="Alabama"
state_dict

{'LASST020000000000003': 'Alaska',
 'LASST040000000000003': 'Arizona',
 'LASST050000000000003': 'Arkansas',
 'LASST060000000000003': 'California',
 'LASST080000000000003': 'Colorado',
 'LASST090000000000003': 'Connecticut',
 'LASST100000000000003': 'Delaware',
 'LASST110000000000003': 'District of Columbia',
 'LASST120000000000003': 'Florida',
 'LASST130000000000003': 'Georgia',
 'LASST150000000000003': 'Hawaii',
 'LASST160000000000003': 'Idaho',
 'LASST170000000000003': 'Illinois',
 'LASST180000000000003': 'Indiana',
 'LASST190000000000003': 'Iowa',
 'LASST200000000000003': 'Kansas',
 'LASST210000000000003': 'Kentucky',
 'LASST220000000000003': 'Louisiana',
 'LASST230000000000003': 'Maine',
 'LASST240000000000003': 'Maryland',
 'LASST250000000000003': 'Massachusetts',
 'LASST260000000000003': 'Michigan',
 'LASST270000000000003': 'Minnesota',
 'LASST280000000000003': 'Mississippi',
 'LASST290000000000003': 'Missouri',
 'LASST300000000000003': 'Montana',
 'LASST310000000000003': 'Nebraska',
 'LASST320000000000003': 'Nevada',
 'LASST330000000000003': 'New Hampshire',
 'LASST340000000000003': 'New Jersey',
 'LASST350000000000003': 'New Mexico',
 'LASST360000000000003': 'New York',
 'LASST370000000000003': 'North Carolina',
 'LASST380000000000003': 'North Dakota',
 'LASST390000000000003': 'Ohio',
 'LASST400000000000003': 'Oklahoma',
 'LASST410000000000003': 'Oregon',
 'LASST420000000000003': 'Pennsylvania',
 'LASST440000000000003': 'Rhode Island',
 'LASST450000000000003': 'South Carolina',
 'LASST460000000000003': 'South Dakota',
 'LASST470000000000003': 'Tennessee',
 'LASST480000000000003': 'Texas',
 'LASST490000000000003': 'Utah',
 'LASST500000000000003': 'Vermont',
 'LASST510000000000003': 'Virginia',
 'LASST530000000000003': 'Washington',
 'LASST540000000000003': 'West Virginia',
 'LASST550000000000003': 'Wisconsin',
 'LASST560000000000003': 'Wyoming',
 'LASST720000000000003': 'Puerto Rico',
 'LASST010000000000003': 'Alabama'}

In [62]:
state_unemploy_df=df.replace({"Series ID": state_dict})
state_unemploy_df["Series ID"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [63]:
state_unemploy_df.head()

  Series ID  Year Period     Label Value
0   Alabama  2019    M01  2019 Jan   3.6
1   Alabama  2019    M02  2019 Feb   3.5
2   Alabama  2019    M03  2019 Mar   3.3
3   Alabama  2019    M04  2019 Apr   3.2
4   Alabama  2019    M05  2019 May   3.1

In [73]:
state_unemploy_df["Month"]=state_unemploy_df["Period"].str.strip("M")
state_unemploy_df["Year"]=state_unemploy_df["Year"].astype(str)
state_unemploy_df["Date"]=state_unemploy_df["Year"]+"-"+state_unemploy_df["Month"]

In [74]:
state_unemploy_df.head()

  Series ID  Year Period     Label Value Month     Date
0   Alabama  2019    M01  2019 Jan   3.6    01  2019-01
1   Alabama  2019    M02  2019 Feb   3.5    02  2019-02
2   Alabama  2019    M03  2019 Mar   3.3    03  2019-03
3   Alabama  2019    M04  2019 Apr   3.2    04  2019-04
4   Alabama  2019    M05  2019 May   3.1    05  2019-05

In [76]:
state_unemploy_df["Date"]=pd.to_datetime(state_unemploy_df["Date"])

In [78]:
state_unemploy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Series ID  1716 non-null   object
 1   Year       1716 non-null   object
 2   Period     1716 non-null   object
 3   Label      1716 non-null   object
 4   Value      1716 non-null   object
 5   Month      1716 non-null   object
 6   Date       1716 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 94.0+ KB