In [504]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, func
engine= create_engine("postgresql://postgres:piechartspassword@project-vu-database-piecharts.c7rvpt2rehpr.us-east-2.rds.amazonaws.com/project_db")

In [505]:
from scipy import stats
import seaborn as sns
import math 
import random
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [506]:
import sqlalchemy as sa

insp = sa.inspect(engine)
db_list = insp.get_table_names()
print(db_list)

['adult_access2019', 'adult_access2020', 'adult_access_clean2021', 'adult_suicide_clean2019', 'adult_suicide_clean2020', 'adult_suicide_clean2021', 'adult_uninsured2020', 'adult_uninsured_clean2021', 'adult_unmet_needs_clean_2019', 'adult_unmet_needs_clean_2020', 'adult_unmet_need_clean2021', 'ami_csv2019', 'youth_no_mh_service2020', 'youth_no_mh_service2021', 'youth_some_mh_service_clean2019', 'ami_csv2020', 'youth_some_mh_service_clean2020', 'youth_some_mh_service_clean2021', 'youth_sub_dis2019_clean', 'northeast_table', 'midwest_table', 'southern_table', 'western_table', 'psy2019', 'northeast_adult_table', 'psy2020', 'western_adult_table', 'ami_csv2021', 'children_no_mh_clean2020', 'mentalcare_survey_df', 'mh_workforce_clean2020', 'mh_workforce_clean2021', 'no_doc_adult2019_clean', 'no_doc_adult2020_clean', 'adult_uninsured2019', 'midwest_adult_table', 'no_doc_adult2021_clean', 'southern_adult_table', 'master_test_table', 'master_adult_table', 'master_bystate_table', 'adult_ami', 'master_youth_table_temp', 'adult_uninsured', 'psyAids2018', 'state_region_connection', 'us_mobility_report', 'master_youth_table', 'us_psyjobs_trends', 'us_unemployment_trends', 'youth_ami_clean2021', 'youth_ami_csv_clean_2019', 'youth_ami_csv_clean_2020', 'youth_mde_clean2019', 'youth_mde_clean2020', 'youth_mde_clean2021', 'youth_no_mh_service2019', 'big_table', 'psyjobs2018', 'psyjobs2019', 'psyjobs2020', 'master_bystate_table_backup', 'adult_master_year', 'cleaned_master_table', 'geo_master_table', 'adult_access', 'adult_suicide', 'adult_unmet_need']

In [507]:
care_survey_df=pd.read_sql_query('select * from mentalcare_survey_df', con=engine)
adult_master=pd.read_sql_query('select * from adult_master_year', con=engine)
state_region_connection=pd.read_sql_query('select * from state_region_connection', con=engine)
us_unemployment_trends=pd.read_sql_query('select * from us_unemployment_trends', con=engine)

adult_ami=pd.read_sql_query('select * from adult_ami', con=engine)

In [508]:
adult_ami.head()

          state  rank_adult_ami  percent_adult_ami  pop_adult_ami  year
0          Utah            28.0              20.90        95000.0  2019
1     Tennessee            13.0              18.26       937000.0  2021
2  Pennsylvania            34.0              21.50       390000.0  2019
3   Mississippi            24.0              19.49       431000.0  2021
4      Colorado            36.0              19.86       838000.0  2020

In [509]:
adult_ami["state_pop"]=adult_ami["pop_adult_ami"]/(adult_ami["percent_adult_ami"]/100)

In [510]:
# adult_ami.head()

In [511]:
#    adult_ami_st=adult_ami[["state","year","state_pop"]]
# adult_ami_st.head()

## Survery Data

In [512]:
care_survey_df.head()

   FAMINCTC_A  RACEALLP_A  MAXEDUC_A  REGION  SEX_A  AGEP_A  MHTHND_A
0      100000           1        8.0       3      1      85         2
1       75000           1        5.0       3      1      39         2
2       90000           2        4.0       3      1      42         2
3       65000           1        8.0       3      1      32         2
4       25762           1        4.0       3      2      85         2

In [513]:
ml_demo_df=care_survey_df[["FAMINCTC_A","REGION","SEX_A","AGEP_A","MHTHND_A"]]

In [514]:
ml_demo_df.head()

   FAMINCTC_A  REGION  SEX_A  AGEP_A  MHTHND_A
0      100000       3      1      85         2
1       75000       3      1      39         2
2       90000       3      1      42         2
3       65000       3      1      32         2
4       25762       3      2      85         2

In [515]:
state_region_connection.head()

           State     Region  Region_num
0    Connecticut  Northeast           1
1          Maine  Northeast           1
2  Massachusetts  Northeast           1
3  New Hampshire  Northeast           1
4   Rhode Island  Northeast           1

In [516]:
state_region_dict=state_region_connection.to_dict()

In [517]:
# state_region_dict

## Pop AMI Data

In [518]:
adult_master_state=adult_master[adult_master.state !="National"]

In [519]:
adult_master_state.head()

,state,year,rank_adult_access,percent_adult_access,pop_adult_access,rank_adult_suicide,percent_adult_suicide,pop_adult_suicide,rank_adult_uninsured,percent_adult_uninsured,pop_adult_uninsured,rank_adult_unmet_need,percent_adult_unmet_need,pop_adult_unmet_need,rank_adult_ami,percent_adult_ami,pop_adult_ami
0,Idaho,2021,24.0,53.5,177000.0,48.0,5.45,69000.0,41.0,13.7,46000.0,13.0,22.1,73000.0,50.0,24.46,311000.0
1,Nevada,2020,47.0,63.9,270000.0,36.0,4.62,104000.0,34.0,10.9,48000.0,49.0,28.6,121000.0,24.0,18.87,424000.0
2,Missouri,2019,12.0,52.4,425000.0,2.0,3.47,160000.0,41.0,16.2,132000.0,43.0,24.1,194000.0,43.0,24.10,194000.0
3,Washington,2021,23.0,53.5,704000.0,45.0,5.30,303000.0,NaN,NaN,NaN,22.0,23.7,310000.0,46.0,22.23,1269000.0
4,New Mexico,2019,29.0,56.0,177000.0,29.0,4.28,66000.0,17.0,8.3,26000.0,35.0,21.6,69000.0,35.0,21.60,69000.0

In [520]:
adult_master_state["state_pop"]=adult_master_state["pop_adult_access"]/(adult_master_state["percent_adult_access"]/100)

/Users/pazilatn/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [521]:
adult_pop=adult_master_state[['state', 'year', 'pop_adult_access',
    'pop_adult_suicide','pop_adult_uninsured',
      'pop_adult_unmet_need','pop_adult_ami',"state_pop"]]

In [522]:
# adult_pop_st=pd.merge(adult_pop,adult_ami_st, how="left", left_on=["state","year"],right_on= ["state","year"])
# adult_pop_st.head()

In [523]:
adult_pop["year"]=pd.to_datetime(adult_pop["year"],format="%Y")
adult_pop["year"]=adult_pop["year"].dt.year

/Users/pazilatn/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/pazilatn/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [524]:
adult_pop.head()

,state,year,pop_adult_access,pop_adult_suicide,pop_adult_uninsured,pop_adult_unmet_need,pop_adult_ami,state_pop
0,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,3.308411e+05
1,Nevada,2020,270000.0,104000.0,48000.0,121000.0,424000.0,4.225352e+05
2,Missouri,2019,425000.0,160000.0,132000.0,194000.0,194000.0,8.110687e+05
3,Washington,2021,704000.0,303000.0,NaN,310000.0,1269000.0,1.315888e+06
4,New Mexico,2019,177000.0,66000.0,26000.0,69000.0,69000.0,3.160714e+05

In [525]:
adult_pop.groupby("year")["state"].nunique()

year
2019    51
2020    51
2021    51
Name: state, dtype: int64

In [526]:
adult_pop["state"].unique()

array(['Idaho', 'Nevada', 'Missouri', 'Washington', 'New Mexico',
       'New York', 'Alabama', 'Mississippi', 'New Jersey', 'Tennessee',
       'Hawaii', 'Rhode Island', 'Arkansas', 'Utah', 'Montana',
       'Delaware', 'Georgia', 'Alaska', 'California', 'Oregon',
       'Illinois', 'Maryland', 'Oklahoma', 'Wyoming', 'Arizona',
       'Massachusetts', 'West Virginia', 'Maine', 'South Carolina',
       'Nebraska', 'Virginia', 'North Dakota', 'Pennsylvania', 'Colorado',
       'Minnesota', 'North Carolina', 'Louisiana', 'Michigan', 'Indiana',
       'Texas', 'District of Columbia', 'Kentucky', 'Ohio', 'Connecticut',
       'South Dakota', 'Wisconsin', 'Iowa', 'Kansas', 'New Hampshire',
       'Vermont', 'Florida', 'Tex as'], dtype=object)

In [527]:
adult_pop.loc[(adult_pop["state"]=='Tex as'),"state"]="Texas"

/Users/pazilatn/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [528]:
# adult_pop["state"].unique()

## US Unemployment data

In [529]:
us_unemployment_trends["year"]=pd.to_datetime(us_unemployment_trends["Year"],format="%Y")
us_unemployment_trends["year"]=us_unemployment_trends["year"].dt.year

In [530]:
# us_unemployment_trends.sample(10)

In [531]:
us_unemployment_trends.columns

Index(['Year', 'Period', 'Label', 'Value', 'Month', 'Date', 'State', 'year'], dtype='object')

In [532]:
us_unemployment=us_unemployment_trends[['Value','State', 'year']]
us_unemployment["unemployment_rate"]=us_unemployment["Value"]

us_unemployment=us_unemployment.drop(columns=["Value"])

/Users/pazilatn/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [533]:
us_unemployment.head()

     State  year unemployment_rate
0  Alabama  2019               3.6
1  Alabama  2019               3.5
2  Alabama  2019               3.3
3  Alabama  2019               3.2
4  Alabama  2019               3.1

In [534]:
us_unemployment.groupby("year")["State"].nunique()

year
2019    52
2020    52
2021    52
Name: State, dtype: int64

In [535]:
us_unemployment["State"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

In [536]:
new_df=pd.merge(adult_pop,us_unemployment,how="left", left_on=["state","year"], right_on=["State","year"])

In [537]:
new_df=new_df.drop(columns="State")
new_df["unemployment_rate"]=new_df["unemployment_rate"].astype(float)

In [538]:
new_df.head()

,state,year,pop_adult_access,pop_adult_suicide,pop_adult_uninsured,pop_adult_unmet_need,pop_adult_ami,state_pop,unemployment_rate
0,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.5
1,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.3
2,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.2
3,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.1
4,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.0

In [539]:
new_df["year"]=pd.to_datetime(new_df["year"], format="%Y")
new_df["year"]=new_df["year"].dt.year

In [540]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1683 entries, 0 to 1682
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 1683 non-null   object
 1   year                  1683 non-null   int64
 2   pop_adult_access      1671 non-null   float64
 3   pop_adult_suicide     1665 non-null   float64
 4   pop_adult_uninsured   1371 non-null   float64
 5   pop_adult_unmet_need  1674 non-null   float64
 6   pop_adult_ami         1656 non-null   float64
 7   state_pop             1671 non-null   float64
 8   unemployment_rate     1683 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 131.5+ KB

In [541]:
new_df.head()

,state,year,pop_adult_access,pop_adult_suicide,pop_adult_uninsured,pop_adult_unmet_need,pop_adult_ami,state_pop,unemployment_rate
0,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.5
1,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.3
2,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.2
3,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.1
4,Idaho,2021,177000.0,69000.0,46000.0,73000.0,311000.0,330841.121495,3.0

In [542]:
new_df_nostate=new_df.drop(columns="state")

In [543]:
new_df.groupby("year")["pop_adult_uninsured"].median()

year
2019    59000.0
2020    52000.0
2021    51000.0
Name: pop_adult_uninsured, dtype: float64

In [544]:
# new_df["pop_adult_uninsured"]=new_df.loc[(new_df["year"]==2019),"pop_adult_uninsured"].fillna( 59000.0, inplace=True)
new_df.loc[(new_df["pop_adult_uninsured"]<0) & (new_df["year"]==2019)]=59000
new_df.loc[(new_df["pop_adult_uninsured"]<0) & (new_df["year"]==2020)]=52000
new_df.loc[(new_df["pop_adult_uninsured"]<0) & (new_df["year"]==2020)]=51000

In [545]:
# new_df.loc[new_df['pop_adult_uninsured'].isnull()]
x=new_df.groupby("year")["state"].nunique()
x

year
2019    51
2020    51
2021    51
Name: state, dtype: int64

In [546]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1683 entries, 0 to 1682
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 1683 non-null   object
 1   year                  1683 non-null   int64
 2   pop_adult_access      1671 non-null   float64
 3   pop_adult_suicide     1665 non-null   float64
 4   pop_adult_uninsured   1371 non-null   float64
 5   pop_adult_unmet_need  1674 non-null   float64
 6   pop_adult_ami         1656 non-null   float64
 7   state_pop             1671 non-null   float64
 8   unemployment_rate     1683 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 131.5+ KB

In [561]:
new_df_nona=new_df.dropna()
new_df_nona=new_df_nona.drop(columns="state")
new_df_nona["pop_unemployment"]=new_df_nona["unemployment_rate"]*new_df_nona["state_pop"]
# new_df_nona=new_df_nona.drop(columns="unemplyment")

In [572]:
new_corr_df=new_df_nona.drop(columns=["state_pop","unemployment_rate","year"])

In [573]:
new_corr_df.columns

Index(['pop_adult_access', 'pop_adult_suicide', 'pop_adult_uninsured',
       'pop_adult_unmet_need', 'pop_adult_ami', 'pop_unemployment'],
      dtype='object')

In [574]:
new_corr_df.head()

,pop_adult_access,pop_adult_suicide,pop_adult_uninsured,pop_adult_unmet_need,pop_adult_ami,pop_unemployment
0,177000.0,69000.0,46000.0,73000.0,311000.0,1.157944e+06
1,177000.0,69000.0,46000.0,73000.0,311000.0,1.091776e+06
2,177000.0,69000.0,46000.0,73000.0,311000.0,1.058692e+06
3,177000.0,69000.0,46000.0,73000.0,311000.0,1.025607e+06
4,177000.0,69000.0,46000.0,73000.0,311000.0,9.925234e+05

In [575]:
# new_df_nostate.info()
adult_precent_cov=pd.DataFrame(np.corrcoef(new_corr_df.T))
adult_precent_cov.columns=['pop_adult_access', 'pop_adult_suicide', 'pop_adult_uninsured',
       'pop_adult_unmet_need', 'pop_adult_ami', 'pop_unemployment']
adult_precent_cov.index= ['pop_adult_access', 'pop_adult_suicide', 'pop_adult_uninsured',
       'pop_adult_unmet_need', 'pop_adult_ami', 'pop_unemployment']

In [576]:
adult_precent_cov

,pop_adult_access,pop_adult_suicide,pop_adult_uninsured,pop_adult_unmet_need,pop_adult_ami,pop_unemployment
pop_adult_access,1.000000,0.991391,0.834970,0.984839,0.799257,0.841985
pop_adult_suicide,0.991391,1.000000,0.830034,0.988151,0.791472,0.828642
pop_adult_uninsured,0.834970,0.830034,1.000000,0.783716,0.529864,0.590145
pop_adult_unmet_need,0.984839,0.988151,0.783716,1.000000,0.830869,0.847936
pop_adult_ami,0.799257,0.791472,0.529864,0.830869,1.000000,0.876260
pop_unemployment,0.841985,0.828642,0.590145,0.847936,0.876260,1.000000