In [18]:
import pandas as pd
import numpy as np

In [19]:
file_path="/Users/pazilatn/Desktop/github/project-vu/resources/adultmentalcareacess20.csv"

mental_care_cost=pd.read_csv(file_path)

In [20]:
mental_care_cost.head()

   FAMINCTC_A  RACEALLP_A  MAXEDUC_A  REGION  SEX_A  AGEP_A  MHTHND_A
0      100000           1        8.0       3      1      85         2
1       75000           1        5.0       3      1      39         2
2       90000           2        4.0       3      1      42         2
3       65000           1        8.0       3      1      32         2
4       25762           1        4.0       3      2      85         2

In [21]:
mental_care_cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31568 entries, 0 to 31567
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FAMINCTC_A  31568 non-null  int64
 1   RACEALLP_A  31568 non-null  int64
 2   MAXEDUC_A   31497 non-null  float64
 3   REGION      31568 non-null  int64
 4   SEX_A       31568 non-null  int64
 5   AGEP_A      31568 non-null  int64
 6   MHTHND_A    31568 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 1.7 MB

In [22]:
mental_care_df=mental_care_cost.dropna()

In [23]:
mental_care_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31497 entries, 0 to 31567
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FAMINCTC_A  31497 non-null  int64
 1   RACEALLP_A  31497 non-null  int64
 2   MAXEDUC_A   31497 non-null  float64
 3   REGION      31497 non-null  int64
 4   SEX_A       31497 non-null  int64
 5   AGEP_A      31497 non-null  int64
 6   MHTHND_A    31497 non-null  int64
dtypes: float64(1), int64(6)
memory usage: 1.9 MB

In [24]:
mental_care_df["MHTHND_A"].value_counts()

2    29851
1     1252
8      359
7       26
9        9
Name: MHTHND_A, dtype: int64

In [25]:
mentalcare_df=mental_care_df.loc[(mental_care_df["MHTHND_A"]==1) | (mental_care_df["MHTHND_A"]==2)]

In [28]:
mentalcare_df["MHTHND_A"].value_counts()

2    29851
1     1252
Name: MHTHND_A, dtype: int64

In [30]:
mentalcare_df.to_csv(r'resources/mentalcare_survey_df.csv', sep=',', index=False)